<div class="content-area">


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked" role="tablist">

          <li class="nav-item active" role="presentation">
            <a class="link" id="approval-tab" href="#approval" role="tab" aria-controls="approval" data-toggle="tab">Upcoming Trips</a></li>
          <li class="nav-item" role="presentation">
            <a class="link" id="overview-tab" href="#overview" role="tab" aria-controls="overview" data-toggle="tab">Past
              Trips</a></li>
        </ul>
      </div>
      <div class="tab-content col-sm-9 col-md-10" id="myTabContent">
        <div class="tab-pane fade active in" id="approval" role="tabpanel" aria-labelledby="approval-tab">
          <div class="project-overview">
            <h1 class="block-title"><span>Upcoming Trips</span></h1>
          </div>

          <div>

            <div class="panel-group accordion" id="approval-accordion" role="tablist" aria-multiselectable="false">
              <div *ngFor="let trip of upcomingTrips">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="{{trip.href}}"
                         aria-expanded="false" aria-controls="collapse1">
                        <span class="dot"></span>{{trip.car.name}}        {{trip.startDate.toLocaleDateString("en-US")}}
                      </a>
                    </h4>
                  </div>
                  <div id="{{trip._id}}" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="heading1">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <a (click)="carView(trip.car._id)">
                            <img [src]=trip.car.photo
                                 height="200"></a>
                        </div>
                        <div class="col-sm-6">
                          <p>{{trip.renter.firstName}} {{trip.renter.lastName}}</p>
                          <a (click)="carView(trip.car._id)"><p>Car: {{trip.car.name}}</p></a>
                          <p>Pickup Location: California</p>
                          <p>Pickup Date: {{trip.startDate.toDateString()}} {{trip.startDate.toLocaleTimeString()}}</p>
                          <p>Return Date: {{trip.endDate.toDateString()}} {{trip.endDate.toLocaleTimeString()}}</p>
                        </div>
                        <div class="col-sm-4">
                          <button class="btn btn-theme btn-theme-dark" (click)="changeTripStatus(trip._id, 'Declined')">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class=" tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <div class="project-overview">
            <h1 class="block-title"><span>Past Trips</span></h1>
          </div>

          <div>

            <div class="panel-group accordion" id="overview-accordion" role="tablist" aria-multiselectable="false">
              <div *ngFor="let trip of pastTrips">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="{{trip.href}}"
                         aria-expanded="false" aria-controls="collapse1">
                        <span class="dot"></span>{{trip.car.name}}        {{trip.startDate.toLocaleDateString("en-US")}}
                      </a>
                    </h4>
                  </div>
                  <div id="{{trip._id}}" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="heading1">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <a (click)="carView(trip.car._id)">
                            <img  [src]=trip.car.photo
                                 height="200"></a>
                        </div>
                        <div class="col-sm-6">
                          <p>{{trip.renter.firstName}} {{trip.renter.lastName}}</p>
                          <a (click)="carView(trip.car._id)"><p>Car: {{trip.car.name}}</p></a>
                          <p>Pickup Location: California</p>
                          <p>Pickup Date: {{trip.startDate.toDateString()}} {{trip.startDate.toLocaleTimeString()}}</p>
                          <p>Return Date: {{trip.endDate.toDateString()}} {{trip.endDate.toLocaleTimeString()}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
