<div class="content-area">


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked" role="tablist">

          <li class="nav-item active" role="presentation">
            <a class="link" id="support-tab" href="#support" role="tab" aria-controls="support" data-toggle="tab">Support</a></li>
          <li class="nav-item" role="presentation">
            <a class="link" id="approval-tab" href="#approval" role="tab" aria-controls="approval" data-toggle="tab">Car Approval</a></li>
        </ul>
      </div>
      <div class="tab-content col-sm-9 col-md-10" id="myTabContent">
        <div class="tab-pane fade active in" id="support" role="tabpanel" aria-labelledby="support-tab">
          <div class="project-overview">
            <h1 class="block-title"><span>New Support Messages</span></h1>
          </div>

          <div>

            <div class="panel-group accordion" id="support-accordion" role="tablist" aria-multiselectable="false">

              <div class="panel panel-default" *ngFor="let uMessage of unreadMessages">
                <div class="panel-heading" role="tab" >
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href=#{{uMessage._id}}
                       aria-expanded="false" aria-controls="collapse1">
                      <span class="dot"></span>{{uMessage.subject}}
                    </a>
                  </h4>
                </div>
                <div id={{uMessage._id}} class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading1">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <p>Name: {{uMessage.name}}</p>
                        <p>Email Address: {{uMessage.email}}</p>
                      </div>
                      <div class="col-sm-4">
                        <p>{{uMessage.message}}</p>
                      </div>
                      <div class="col-sm-4">
                        <a class="btn btn-theme btn-theme-dark" href={{uMessage.mailLink}}>Reply</a>
                        <button class="btn btn-theme btn-theme-dark" (click)="dismiss($event, uMessage)">Dismiss</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="project-overview">
            <h1 class="block-title"><span>Read Support Messages</span></h1>
          </div>

          <div>
            <div class="panel-group accordion" id="support-accordion-read" role="tablist" aria-multiselectable="false">

              <div class="panel panel-default" *ngFor="let rMessage of readMessages">
                <div class="panel-heading" role="tab" >
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href=#{{rMessage._id}}
                       aria-expanded="false" aria-controls="collapse1">
                      <span class="dot"></span>{{rMessage.subject}}
                    </a>
                  </h4>
                </div>
                <div id={{rMessage._id}} class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading1">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <p>Name: {{rMessage.name}}</p>
                        <p>Email Address: {{rMessage.email}}</p>
                      </div>
                      <div class="col-sm-4">
                        <p>{{rMessage.message}}</p>
                      </div>
                      <div class="col-sm-4">
                        <a class="btn btn-theme btn-theme-dark" href={{rMessage.mailLink}}>Reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>


        </div>
        <div class="tab-pane fade " id="approval" role="tabpanel" aria-labelledby="approval-tab">
          <div class="project-overview">
            <h1 class="block-title"><span>Pending Car Approvals</span></h1>
          </div>

          <div>

            <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="false">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                       aria-expanded="false" aria-controls="collapse1">
                      <span class="dot"></span> Trip 1
                    </a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading1">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <a href="car-view.html">
                          <img src="assets/img/preview/cars/golf1.png" width="225" height="200"></a>
                      </div>
                      <div class="col-sm-4">
                        <p>Booked by :<a href="profile.html">John Doe</a></p>
                        <p>Start : June 21, 2018</p>
                        <p>End : June  33, 2018</p>
                        <p>Car :<a href="car-view.html"> Polo GT</a></p>
                      </div>
                      <div class="col-sm-4">
                        <button class="btn btn-theme btn-theme-dark">Cancel Trip</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
