<div class="content-area">


  <section class="page-section no-padding slider">
    <div class="container full-width">

      <div class="main-slider">
        <div class="item slide1 ver1">
          <div class="caption">
            <div class="container">
              <div class="div-table">
                <div class="div-cell">
                  <div class="caption-content">
                    <h2 class="caption-subtitle">Rent Cars Better</h2>
                    <h3 class="caption-title">Choose from thousands of unique cars for rent by local hosts</h3>

                    <div class="row">
                      <div class="col-sm-12 col-md-10 col-md-offset-1">

                        <div class="form-search dark" id="landing-search">

                          <form (ngSubmit)="searchCars()">
                            <div class="row row-inputs">
                              <div class="container-fluid">
                                <div class="col-sm-5">
                                  <div class="form-group has-icon has-label">
                                    <label for="formSearchUpLocation">Location</label>
                                    <input [(ngModel)]="location" type="text" class="form-control" name="location" id="formSearchUpLocation" placeholder="Airport or Anywhere">
                                    <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group has-icon has-label">
                                    <label for="pickupDate">Pickup</label>
                                    <input [(ngModel)]="pickupDate" type="text" class="form-control" name="pickupDate" id="pickupDate" placeholder="Pickup date and time" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                                    <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                  </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="form-group has-icon has-label selectpicker-wrapper">
                                    <label>Return</label>
                                    <input [(ngModel)]="returnDate" class="form-control" title="Select" name="returnDate" id="returnDate" placeholder="Return date and time" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                                    <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                  </div>
                                </div>
                                <div class="col-sm-1">
                                  <a (click)="searchCars($event)" class="btn btn-block btn-success" id="btn-go">Go</a>
                                </div>
                              </div>
                            </div>


                          </form>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>



  <section class="page-section">
    <div class="container">

      <div class="row">
        <div class="col-md-4 wow flipInY" data-wow-offset="70" data-wow-duration="1s">
          <div class="thumbnail thumbnail-featured no-border no-padding">
            <div class="media">
              <a class="media-link" href="#">
                <div class="caption">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <div class="caption-icon"><i class="fa fa-support"></i></div>
                      <h4 class="caption-title">24/7 Car Support</h4>
                      <div class="caption-text">Dedicated customer service team available around the clock.</div>
                      <div class="buttons">
                        <span class="btn btn-theme ripple-effect btn-theme-transparent">Read More</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <div class="caption-icon"><i class="fa fa-support"></i></div>
                      <h4 class="caption-title">24/7 Car Support</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow flipInY" data-wow-offset="70" data-wow-duration="1s" data-wow-delay="200ms">
          <div class="thumbnail thumbnail-featured no-border no-padding">
            <div class="media">
              <a class="media-link" href="#">
                <div class="caption">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <div class="caption-icon"><i class="fa fa-calendar"></i></div>
                      <h4 class="caption-title">Easy Pickup and Return</h4>
                      <div class="caption-text">Pickup and return the car at locations and times that suit you.</div>
                      <div class="buttons">
                        <span class="btn btn-theme ripple-effect btn-theme-transparent">Read More</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <div class="caption-icon"><i class="fa fa-calendar"></i></div>
                      <h4 class="caption-title">Anytime Pickup/Return</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow flipInY" data-wow-offset="70" data-wow-duration="1s" data-wow-delay="400ms">
          <div class="thumbnail thumbnail-featured no-border no-padding">
            <div class="media">
              <a class="media-link" href="#">
                <div class="caption">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <div class="caption-icon"><i class="fa fa-map-marker"></i></div>
                      <h4 class="caption-title">Lots of Locations</h4>
                      <div class="caption-text">Choose from a host of locations around the San Francisco Bay Area.</div>
                      <div class="buttons">
                        <span class="btn btn-theme ripple-effect btn-theme-transparent">Read More</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="caption hovered">
                  <div class="caption-wrapper div-table">
                    <div class="caption-inner div-cell">
                      <div class="caption-icon"><i class="fa fa-map-marker"></i></div>
                      <h4 class="caption-title">Lots of Locations</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>



  <section class="page-section image">
    <div class="container">

      <div class="row">
        <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">
          <div class="thumbnail thumbnail-counto no-border no-padding">
            <div class="caption">
              <div class="caption-icon"><i class="fa fa-heart"></i></div>
              <div class="caption-number">{{users}}</div>
              <h4 class="caption-title">Happy costumers</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="200ms">
          <div class="thumbnail thumbnail-counto no-border no-padding">
            <div class="caption">
              <div class="caption-icon"><i class="fa fa-car"></i></div>
              <div class="caption-number">{{cars}}</div>
              <h4 class="caption-title">Total car count</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">
          <div class="thumbnail thumbnail-counto no-border no-padding">
            <div class="caption">
              <div class="caption-icon"><i class="fa fa-flag"></i></div>
              <div class="caption-number">792859</div>
              <h4 class="caption-title">Total Miles Driven</h4>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-offset="200" data-wow-delay="400ms">
          <div class="thumbnail thumbnail-counto no-border no-padding">
            <div class="caption">
              <div class="caption-icon"><i class="fa fa-comments-o"></i></div>
              <div class="caption-number">{{messages}}</div>
              <h4 class="caption-title">Customer Issues Resolved</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
<script src=""></script>

<script src="assets/js/theme.js"></script>
<script>

</script>
