<div class="content-area">

  <section class="page-section color">

    <div class="container">

      <div class="row">

        <div class="col-md-8 text-left">

          <h2 class="block-title"><span>Add Car</span></h2>

          <form name="register-form" method="post" action="#" class="register-form" id="register-form">

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="make">Car Make</label>
                <input
                  type="text" name="make" id="make" placeholder="Car Make" value=""
                  size="30" data-toggle="tooltip" title="Car Make is required"
                  class="form-control placeholder"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="model">Last Name</label>
                <input
                  type="text" name="model" id="model" placeholder="Car Model" value=""
                  size="30" data-toggle="tooltip" title="Car Model is required"
                  class="form-control placeholder"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="year">Year</label>
                <input
                  type="text" name="year" id="year" placeholder="Year" value="" size="30"
                  data-toggle="tooltip" title="Year is required"
                  class="form-control placeholder"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="mileage">Username</label>
                <input
                  type="number" name="mileage" id="mileage" placeholder="Mileage" value=""
                  size="30" data-toggle="tooltip" title="Mileage is required"
                  class="form-control placeholder"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="vin">Vehicle Identification Number</label>
                <input
                  type="number" name="vin" id="vin" placeholder="Vehicle Identification Number"
                  value="" size="30" data-toggle="tooltip" title="VIN is required"
                  class="form-control placeholder"/>
              </div>
            </div>

            <div class="outer required">
              <div class="input-group form-group af-inner">
                <label class="input-group-btn">
                                        <span class="form-control btn btn-theme btn-theme-dark">Browse
                                            <input name="carimages" id="carimages" type="file"/>
                                        </span>
                </label>
                <input
                  type="text" name="carimagetext" id="carimagetext" placeholder="Car Images"
                  value="" size="30" data-toggle="tooltip" title="At least one image is required"
                  class="form-control placeholder" readonly/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <input type="submit" name="submit"
                       class="form-button form-button-submit btn btn-theme btn-theme-dark btn-block"
                       id="submit_btn" value="Register Car" />
              </div>
            </div>

          </form>


        </div>

      </div>

    </div>
  </section>




</div>
