<div class="content-area">

  <section class="page-section color">

    <div class="container">

      <div class="row">

        <div class="col-md-8 text-left">

          <h2 class="block-title"><span>Register</span></h2>

          <form (ngSubmit)="register($event)" #f="ngForm" class="register-form" id="register-form">


            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="username">Username</label>
                <input
                  type="text" name="username" id="username" placeholder="Username" value=""
                  size="30" data-toggle="tooltip" title="Username is required"
                  class="form-control placeholder" required
                  (ngModel)="username"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="fname">First Name</label>
                <input
                  type="text" name="firstName" id="fname" placeholder="First Name" value=""
                  size="30" data-toggle="tooltip" title="First Name is required"
                  class="form-control placeholder" required
                  (ngModel)="firstName"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="lname">Last Name</label>
                <input
                  type="text" name="lastName" id="lname" placeholder="Last Name" value=""
                  size="30" data-toggle="tooltip" title="Last Name is required"
                  class="form-control placeholder" required
                  (ngModel)="lastName"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="email">Email</label>
                <input
                  type="email" name="email" id="email" placeholder="Email" value="" size="30"
                  data-toggle="tooltip" title="Email is required"
                  class="form-control placeholder" required
                  (ngModel)="email"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="password">Password</label>
                <input
                  type="password" name="password" id="password" placeholder="Password"
                  value="" size="30" data-toggle="tooltip" title="Password is required"
                  class="form-control placeholder" required
                  (ngModel)="password"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner">
                <label class="sr-only" for="verify">Verify Password</label>
                <input
                  type="password" name="verify" id="verify" placeholder="Verify Password"
                  value="" size="30" data-toggle="tooltip" title="Verification is required"
                  class="form-control placeholder" required
                  (ngModel)="verify"/>
              </div>
            </div>

            <div class="outer required">
              <div class="form-group af-inner has-icon">
                <label class="sr-only" for="dob">Date of Birth</label>
                <input
                  type="text" name="dob" id="dob" placeholder="Date of Birth"
                  size="30" data-toggle="tooltip" title="Date of Birth is required"
                  class="form-control datepick placeholder" required
                  (ngModel)="dob"/>
                <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>

<!--            <div class="outer required">
              <div class="input-group form-group af-inner">
                <label class="input-group-btn">
                                        <span class="form-control btn btn-theme btn-theme-dark">Browse
                                            <input name="license" id="license" type="file"/>
                                        </span>
                </label>
                <input
                  type="text" name="licensetext" id="licensetext" placeholder="Driver's License"
                  value="" size="30" data-toggle="tooltip" title="License is required"
                  class="form-control placeholder" readonly/>
              </div>
            </div>
-->

            <!-- image input -->
            <div class="outer required">
              <div class="input-group form-group af-inner">
                <input type="file" name="myFile" (change)="fileChange($event)" multiple/>
              </div>
            </div>
            <!-- /image input -->


            <div class="outer required">
              <div class="form-group af-inner">
                <input type="submit" name="submit"
                       class="form-button form-button-submit btn btn-theme btn-theme-dark btn-block"
                       id="submit_btn" value="Register" (click)="register($event)"/>
              </div>
            </div>

          </form>


        </div>

      </div>

    </div>
  </section>

</div>
