<div class="content-area">



  <section class="page-section breadcrumbs text-center">
    <div class="container">
      <div class="page-header">
        <h1>Login</h1>
      </div>
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Login</li>
      </ul>
    </div>
  </section>


  <section class="page-section color">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="block-title"><span>Login</span></h3>
          <form (ngSubmit)="login()" #f="ngForm" class="form-login">
            <div class="row">
              <div class="col-md-12 hello-text-wrap margin-10">
                <span class="hello-text text-thin">Login with Facebook, Google or your Torq account</span>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="fb-login-button" data-max-rows="1" data-size="large"
                     data-button-type="continue_with" data-show-faces="false"
                     data-auto-logout-link="false" data-use-continue-as="true" scope="public_profile,email"></div>
              </div>
              <div class="col-md-12 col-lg-6">
                <!--<div class="g-signin2" data-width="250" data-height="50"-->
                     <!--data-longtitle="true"></div>-->
                <google-signin
                  [clientId]="clientId"
                  [width]="250"
                  [height]="50"
                  [longTitle]="true"
                  (googleSignInSuccess)="onGoogleSignInSuccess($event)"
                  (onSuccess)="onGoogleSignInSuccess($event)"
                (googleSignInFailure)="failure($event)"
                (onFailure)="failure($event)">
                </google-signin>
              </div>
              <div class="col-md-12 margin-10">
                <div class="form-group"><input class="form-control" type="text" name="username"
                                               placeholder="User name or email" required
                                               (ngModel)="username" #username="ngModel" ></div>
                <span class="help-block" *ngIf="!username.valid && username.touched">
                Please enter username!
             </span>
              </div>
              <div class="col-md-12 margin-10">
                <div class="form-group"><input class="form-control" type="password" name="password"
                                               placeholder="Your password" required
                                               (ngModel)="password" #password="ngModel"></div>
                <span class="help-block" *ngIf="!password.valid && password.touched">
                Please enter password!
             </span>
              </div>

              <div class="col-md-12 col-lg-6 margin-10">
                <a class="forgot-password" href="#">Forgot password?</a>
              </div>
              <div *ngIf="errorFlag"
                   class="alert alert-danger">
                Invalid Username/Password
              </div>
              <div class="col-md-12">
                <a class="btn btn-theme btn-block btn-theme-dark" (click)="login($event)">Login</a>
                <a class="btn btn-block btn-theme btn-theme-dark btn-create" routerLink="/customer/register">Sign Up</a>
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-6">
          <h3 class="block-title"><span>Put Your Car For Rent On Torq</span></h3>
          <form action="#" class="create-account">
            <div class="row">
              <div class="col-md-12 hello-text-wrap margin-10">
                <span class="hello-text text-thin">Create Your Account</span>
              </div>
              <div class="col-md-12">
                <h3 class="block-title" >Signup Today and You'll be able to</h3>
                <ul class="list-check" id="align-list-rentee">
                  <li>Offer your car(s) for rent</li>
                  <li>Only rent your cars to renters you approve</li>
                  <li>Rent your car only at times convenient to you</li>
                  <li>All damages are insured by Torq</li>
                </ul>
              </div>
              <div class="col-lg-6" id="rentee-signup">
                <a class="btn btn-block btn-theme btn-theme-dark btn-create" routerLink="/renter/register">Sign Up</a>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>


</div>
