<div class="content-area">


  <section class="page-section breadcrumbs text-right">
    <div class="container">
      <div class="page-header">
        <h1>Checkout</h1>
      </div>
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Checkout</li>
      </ul>
    </div>
  </section>


  <section class="page-section with-sidebar sub-page">
    <div class="container">
      <div class="row">

        <div class="col-md-9 content" id="content">


          <h3 class="block-title alt">Car Information</h3>
          <div class="car-big-card alt">
            <div class="row">
              <div class="col-md-8">
                <div class="owl-carousel img-carousel">
                  <div class="item" *ngFor="let photo of photos">
                    <a class="btn btn-zoom" [href]=photo data-gal="prettyPhoto"><i class="fa fa-arrows-h"></i></a>
                    <a [href]=photo data-gal="prettyPhoto"><img class="img-responsive" [src]=photo alt=""/></a>
                  </div>
                </div>

              </div>
              <div class="col-md-4">
                <div class="car-details">
                  <div class="list">
                    <ul>
                      <li class="title">
                        <a routerLink="/user/{{ownerId}}/profile"><h4>{{ownerName}}'s</h4></a>
                        <h2>{{car.make}} {{car.model}} <span>{{car.fuel}}</span></h2>
                        <div id="car-rating">
                        </div>
                      </li>
                      <li>Fuel {{car.fuel}}</li>
                      <li>{{car.mileage}} Miles</li>
                      <li>{{car.transmission}} Transmission</li>
                      <li>Manufacturing Year {{car.year}}</li>
                    </ul>
                  </div>
                  <div class="price">
                    <strong>${{car.pricePerDay}}</strong> <i class="fa fa-info-circle"></i>

                    <div class="button">
                      <a (click)="checkout(car._id)" class="btn btn-block btn-theme btn-theme-dark">CHECKOUT</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="page-divider half transparent"/>

          <h3 class="block-title alt">Extras</h3>
          <form role="form" class="form-extras">

            <div class="row">

              <div class="col-md-6">
                <div class="left">
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxl1" type="checkbox">
                    <label for="checkboxl1">Baby Seat <span class="pull-right">12 $ /for a day</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxl2" type="checkbox">
                    <label for="checkboxl2">Car Seat For Childres <span
                      class="pull-right">12 $ /for a day</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxl3" type="checkbox">
                    <label for="checkboxl3">Navigation <span class="pull-right">42 $ /Total</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxl4" type="checkbox">
                    <label for="checkboxl4">Excess Protection <span class="pull-right">12 $ /for a day</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxl5" type="checkbox">
                    <label for="checkboxl5">Additional Driver <span class="pull-right">24 $ /Total</span></label>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="right">
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxr1" type="checkbox">
                    <label for="checkboxr1">Ful Rent a Car Insurance <span class="pull-right">Free</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxr2" type="checkbox">
                    <label for="checkboxr2">Wheels and Glass Insurance <span class="pull-right">Free</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxr3" type="checkbox">
                    <label for="checkboxr3">Taking from Airport <span class="pull-right">Free</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxr4" type="checkbox">
                    <label for="checkboxr4">Unlimited Kilometres for ALL cars <span
                      class="pull-right">Free</span></label>
                  </div>
                  <div class="checkbox checkbox-danger">
                    <input id="checkboxr5" type="checkbox">
                    <label for="checkboxr5">VAT <span class="pull-right">Included</span></label>
                  </div>
                </div>
              </div>

            </div>

          </form>


          <h3 class="block-title alt">Customer Information</h3>
          <form action="#" class="form-delivery">
            <div class="row">
              <div class="col-md-12">
                <div class="radio radio-inline">
                  <input type="radio" id="inlineRadio1" value="Mr" name="radioInline">
                  <label for="inlineRadio1">Mr</label>
                </div>
                <div class="radio radio-inline">
                  <input type="radio" id="inlineRadio2" value="Ms" name="radioInline">
                  <label for="inlineRadio2">Ms</label>
                </div>
                <div class="radio radio-inline">
                  <input type="radio" id="inlineRadio3" value="Ms" name="radioInline">
                  <label for="inlineRadio3">Mrs</label>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input name="fd-name" id="fd-name" title="Name is required" data-toggle="tooltip"
                         class="form-control alt" type="text" placeholder="Name and Surname:*">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input name="fd-name" id="fd-email" title="Email is required" data-toggle="tooltip"
                         class="form-control alt" type="text" placeholder="Your Email Address:*">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"><input class="form-control alt" type="text" placeholder="Phone Number:"></div>
              </div>
              <div class="col-md-6">
                <div class="form-group"><input class="form-control alt" type="text" placeholder="Cell Phone Number:">
                </div>
              </div>
            </div>
          </form>


          <h3 class="block-title alt">Payments options</h3>
          <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                     aria-expanded="false" aria-controls="collapseThree">
                    <span class="dot"></span> Credit Card
                  </a>
                  <span class="overflowed pull-right">
                                    <img src="assets/img/preview/payments/mastercard-2.jpg" alt=""/>
                                    <img src="assets/img/preview/payments/visa-2.jpg" alt=""/>
                                    <img src="assets/img/preview/payments/american-express-2.jpg" alt=""/>
                                    <img src="assets/img/preview/payments/discovery-2.jpg" alt=""/>
                                    <img src="assets/img/preview/payments/eheck-2.jpg" alt=""/>
                                </span>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="cc-name" id="cc-name" title="Name is required" data-toggle="tooltip"
                           class="form-control alt" type="text" placeholder="Name on Card">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="cc-number" id="cc-number" title="CC number is required" data-toggle="tooltip"
                           class="form-control alt" type="text" placeholder="Card Number">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><input class="form-control alt" type="text" placeholder="Expiration MM/YY">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"><input class="form-control alt" type="text" placeholder="CVV"></div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                     aria-expanded="false" aria-controls="collapse4">
                    <span class="dot"></span> PayPal
                  </a>
                  <span class="overflowed pull-right"><img src="assets/img/preview/payments/paypal-2.jpg"
                                                           alt=""/></span>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4"></div>
            </div>
          </div>


          <h3 class="block-title alt">Additional Information</h3>
          <form action="#" class="form-additional">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="fad-message" id="fad-message"
                            title="Addition information is required" data-toggle="tooltip"
                            class="form-control alt" placeholder="Any comments for the renter? "
                            cols="30" rows="10"></textarea>
                </div>
              </div>
            </div>
          </form>


          <div class="overflowed reservation-now">
            <div class="checkbox pull-left">
              <input id="accept" type="checkbox" name="fd-name" title="Please accept" data-toggle="tooltip">
              <label for="accept">I accept all information and Payments etc</label>
            </div>
            <a class="btn btn-theme pull-right btn-reservation-now" (click)="bookCar()">BOOK</a>
            <a class="btn btn-theme pull-right btn-cancel btn-theme-dark" href="#">CANCEL</a>
          </div>

        </div>


        <aside class="col-md-3 sidebar" id="sidebar">

          <div class="widget shadow widget-helping-center">
            <h4 class="widget-title">Location and Dates</h4>
            <div class="widget-content">
              <h5 class="widget-title-sub">Location</h5>
              <p>{{place}}</p>
              <h5 class="widget-title-sub">Pickup</h5>
              <p>March 25, 2018</p>
              <h5 class="widget-title-sub">Return</h5>
              <p>March 28, 2018</p>
              <div class="button">
                <a href="#" class="btn btn-block btn-theme btn-theme-dark">Modify Search</a>
              </div>
            </div>
          </div>

          <div class="widget shadow widget-helping-center">
            <h4 class="widget-title">Still Need Help ?</h4>
            <div class="widget-content">
              <p>Call us now to get support</p>
              <h5 class="widget-title-sub">+1 (888)-888-8888</h5>
              <p><a href="mailto:support@supportcenter.com">support@torq.com</a></p>
              <div class="button">
                <a routerLink="/contact" class="btn btn-block btn-theme btn-theme-dark">Contact US</a>
              </div>
            </div>
          </div>

        </aside>


      </div>
    </div>
  </section>

</div>
